{% extends 'base.html' %} {% block content %}

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
{% include 'article_detail_js.html' %}

<style>
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-fluid {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.column {
  width: 50%;
  flex: 1;
  overflow: auto;
}
</style>


<div class="container-fluid">
    <div class="column">
      <div class="w-100 card">
        <div class="card-body">
          <h1>{% block title %} {{ article.title }} {% endblock title %}</h1>
          <p class=" text-muted">{{ article.author }} | {{ article.created_on }}</p>
          <p class="card-text">{{ article.content | safe | linebreaks}}</p>

          <h2>Add a new comment</h2>
          <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <button type="submit">Add comment</button>
          </form>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="w-100 card">
        <div class="card-body">
          <!-- Comment with nested comments -->
          {% for comment in comments %}
          <div class="card mb-4">          
            <div class="card-body">
              <p class="card-text text-muted h6">{{ comment.author }} | {{ comment.created_on}}</p>
              <p class="card-text">{{comment.content | linebreaks}}</p>
              <p class="like-count card-text text-muted h6">Likes: {{comment.score}}</p>
              <button type="button" class="likebutton btn btn-outline-primary" style="margin-bottom:15px" data-commentid = "{{comment.id}}">
                Like
              </button>
              <button type="button" class="replybutton btn btn-outline-primary" style="margin-bottom:15px">
                Reply
              </button>

              <form class="replyform" action="." method="post" style="margin-bottom:15px; display:none">
                  {{ comment_form.as_p }}
                  {% csrf_token %}
                  <!-- Hidden input for parent comment.id -->
                  <input type="hidden" name="parent_id" value="{{ comment.id }}">
                  <input class="btn btn-primary" type="submit" value="Submit">
                </form>
              <ul class="list-group"></ul>
              {% for reply in comment.replies.all %}
                  <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <p class="card-text text-muted h6">{{ reply.author }} | {{ reply.created_on }}</h2>
                    </div>
                    <p class="mb-1">{{ reply.content }}</p>
                    <p class="like-count card-text text-muted h6">Likes: {{reply.score}}</p>
                    <button type="button" class="likebutton btn btn-outline-primary" style="margin-bottom:15px" data-commentid="{{reply.id}}">
                      Like
                    </button>
                  </li>
              {% endfor %}
              </ul>
            </div>
          
          </div>
          {% empty %}
            <h4>There are no comments yet.</h4>
          {% endfor %}

        </div>
      </div>
    </div>

</div>


{% endblock content %}